<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                {{todo.todoName | uppercase}}
                <p class="card-text">{{todo.todoDescription}}</p>
            </div>
            <div class="col-2 text-right">
                <!--delete button-->
                <button type="button" class="btn btn-light" (click)="deleteTodo()">&#x2718;</button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <!--add checklist form-->
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-describedby="basic-addon2" #checklistName>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"
                    (click)="addChecklist(checklistName)">Add</button>
            </div>
        </div>

        <!--list all checklists-->
        <ul class="list-group list-group-flush">
            <div *ngFor="let checklist of checklists">
                <app-checklist [checklist]="checklist"></app-checklist>
            </div>
        </ul>
    </div>
</div>

