.card{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #588c7e;
    color: white;
}

.btn{
    margin: 10px;
}

.strike {
    text-decoration: line-through;
  }
  .bold {
      font-weight: bold;
  }
  .red {
      color: red;
  }