<img src="assets/images/work.png" width=10% class="mx-auto d-block pt-3">
<h5 class="text-center pt-3">Things I've been up to</h5>
<p class="text-center pt-3">Here is the collection of some projects I've been working on.</p>
<p class="text-center">You can also visit me on <a class="link-text" href="https://github.com/karolinephan/"> Github</a>
</p>

<!--green-->
<div style="height: 1000px; background-color: #588c7e; text-align: center;">
    <button type="button" class="todoButton btn-lg" (click)="todoList()">View To-do List</button>
</div>

<!--yellow-->
<div style="height: 1000px; background-color: #f2e394;">
</div>

<!--orange-->
<div style="height: 1000px; background-color: #f2ae72;">
</div>

<!--red-->
<div style="height: 1000px; background-color: #d96459;">
</div>