<img src="assets/images/work.png" width=10% class="mx-auto d-block pt-3">
<h5 class="text-center pt-3">Things I've been up to</h5>
<p class="text-center pt-3">Here is the collection of some projects I've been working on
    <br>You can also visit me on <a class="link-text" href="https://github.com/karolinephan/"> Github</a>
</p>

<!--green-->
<div style="height: 800px; background-color: #ECFFB0; text-align: center;">
    <button type="button" class="blogButton descriptionText" (click)="todoList()">Visit Blog</button>
</div>

<!--yellow-->
<div style="height: 800px; background-color: #9AA899; text-align: center;">
    <div class="container">
        <img class="blogImage" src="assets/images/blogScreenshot.jpg">
        <div class="titleText">Personal Blog</div>
        <div class="descriptionText">I work on a personal blog<br>where I log all the interesting activities I do day by
            day</div><br>
        <button type="button" class="blogButton descriptionText" (click)="blog()">Visit Blog</button>
    </div>
</div>

<!--orange-->
<div style="height: 800px; background-color: #54577C;">
</div>

<!--red-->
<div style="height: 800px; background-color: #4A7B9D;">
</div>