h5 {
    color: #588c7e;
}

.link-text{
    color: #588c7e;
    text-decoration: underline;
}

.blogButton{
    background-color:#54577C;
    color: white;
    font-family: "Verdana", Sans-serif;
}

.blogImage {
    margin-top: 100px;
    width: 40%;
    border-radius: 2%;
}

.titleText {
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


