.container {
    max-width: 80%;
    padding-top: 10px;
}

h5, p {
    text-align: center;
}

img {
    opacity: 0.8;
}

h1 { 
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

.pageBody {
    background-color:rgb(245, 245, 245);
    margin-top: 20px;
}



