<!-- Add Post Modal -->
<div class="modal fade" id="createGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGoalModalLabel">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="form-group">
                            <label>Post Title</label>
                            <input type="text" #newPostTitle class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Post Body</label>
                            <textarea #newPostBody class="form-control" rows="10"></textarea>

                        </div>
                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="addPost(newPostTitle, newPostBody);">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>

<!--list all post-->
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
        </div>

        <div class="col-sm-3">
            <img src="assets/images/avatar.jpg">
            <h5>Karoline Phan</h5>
            <p>hellodaito</p>
        </div>

        <!-- Button trigger create goal popup -->
        <div class="container">
            <button type="button" class="btn btn-warning center-block" data-toggle="modal"
                data-target="#createGoalModal">
                &#43; Add a post
            </button>
        </div>
    </div>
</div>